<_within file="application.html">

  <div id="content" stype="text-align:center">
    <div id="form">
      <div class="input">
        <label id="name-input-label">
          <span>Enter your name</span>
          <input id="name-input" size="30" type="text"/>
        </label>
        <label id="room-input-label">
          <span>Room to Jam in?</span>
          <input id="room-input" size="30" type="text"/>
        </label>
        <div id="name-input-error" class="small error">&nbsp;</div>
      </div>
      <input id="jam-button" class="button" type="button" value="Jam!">
    </div>
  </div>
  
</_within>
